* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

button, input {
    outline: none;
}

button {
    cursor: pointer;
}