@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}
body {
    background-color: rgb(232, 232, 232);
    /* padding-bottom: 100px; */
}

.lados{
  margin: 0 auto;
  width: 50%;
}


.resultado{
  margin-top: 10px;
  padding: 10px 50px;
  

}

fieldset{
  border: 1px solid cadetblue;
  padding: 10px 20px;
  width: 60%;
  margin: 0 auto;
}


input{
  display: flex;
  margin-top: 10px;
  padding: 15px 20px;
  width: 70%;
  border-radius: 10px;
  border: 1px solid black;
  outline: 0;
  
  
}

button{
  margin-top: 10px;
  padding: 15px 20px;
  width: 35%;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
  outline: 0;
  background-color: rgb(109, 23, 117);
  color: white;
  margin-left: 25%;

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


