*{
    margin:0;
    padding:0; 

}

body{
    
    background-color: #f0f0f0;
    color: rgb(147, 147, 147);
    font-family: sans-serif;

}
#textoInicial{
    background-color: white ;
    display: inline-block;
    margin-top: 7%;
    margin-left: 5%;
    padding: 10px 5px;
    border-radius: 8px;
    border-left: 5px solid;
    border-top: 5px solid;
   
    
}

#textoRespostaCortana{
    background-color: white ;
    visibility: hidden;
    padding: 10px 5px;
    margin-left: 5%;
    margin-top: 2%;
    margin-right: 80%;
    border-radius: 8px;
    border-left: 5px solid;
    border-top: 5px solid;
   
    
}

#textoRespostaClicar{
    background-color:rgb(255, 251, 141) ;
    visibility: hidden;
    padding: 10px 5px;  
    margin-left: 85%;
    margin-right: 5%;
    margin-top: 2%;
    color: black;
    border-radius: 8px;
    border-left: 5px solid;
    border-top: 5px solid; 
   
   
}

.textoFala{
   text-align: center;
   justify-content: center;
   margin-top: 5%; 
 
}

#trash{
    width: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
   
}
p{
    margin-bottom: 15px;
}


img{
    width: 8%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
}

button{
    outline-style: none;
    border-color:rgb(196, 196, 196);
    background-color: white;
    font-size: 15pt;
    padding: 25px;
    border: 1px solid lightgray;
    font-weight: bold;
    cursor: pointer;
    margin-left: -4.5px;

}

button:active{
    background-color:rgb(255, 251, 141) ;
}

